
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-4-LSj {
  width: 100%;
  height: 102.4rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  .auto-group-ayzm-qeP {
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(335.83deg, #c8e8ff 84.51%, rgba(251, 250, 255, 0) 212.76%);
    box-sizing: border-box;
    padding: 5.9rem 5.6rem 11.7rem 5.6rem;
    width: 144rem;
    height: 30.5rem;

    .mask-group-Lb9 {
      margin-bottom: 1.9rem;
      width: 4.9rem;
      height: 5.4rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
    }
    .create-an-account-rpP {
      font-size: 6rem;
      font-weight: 400;
      line-height: 0.92;
      color: #000000;
      font-family: League Spartan, 'Source Sans Pro';
      white-space: nowrap;
      margin-left: 40.5rem;
    }
  }
  .auto-group-pqsd-Khy {
    box-sizing: border-box;
    left: 0;
    top: 30.5rem;
    padding: 3.3rem 29.8rem 4.3rem 28.4rem;
    width: 144rem;
    height: 41.2rem;
    position: absolute;
    align-items: center;
    display: flex;
    flex-direction: column;

    .auto-group-hesh-cBH {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 25.5rem 1.7rem 0.1rem;
      width: calc(100% - 25.6rem);

      .name-j11 {
        font-family: League Spartan, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 38.8rem;
        font-size: 2.5rem;
        font-weight: 400;
        line-height: 0.92;
        color: #000000;
      }
      .mobile-number-ETZ {
        flex-shrink: 0;
        font-size: 2.5rem;
        font-weight: 400;
        line-height: 0.92;
        color: #000000;
        font-family: League Spartan, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .auto-group-6nyp-7XM {
      align-items: center;
      flex-shrink: 0;
      margin-bottom: 5rem;
      width: 100%;
      height: 5.1rem;
      display: flex;

      .auto-group-wgz5-F7m {
        color: #9a9a9a;
        white-space: nowrap;
        flex-shrink: 0;
        padding: 1.6rem 5.1rem;
        border-radius: 1.2rem;
        margin-right: 3.8rem;
        box-sizing: border-box;
        height: 100%;
        font-weight: 400;
        border: solid 0.1rem #cdcdcd;
        width: 41rem;
        font-size: 2rem;
        line-height: 0.92;
        font-family: League Spartan, 'Source Sans Pro';
      }
      .auto-group-yso9-UmD {
        color: #9a9a9a;
        border: solid 0.1rem #cdcdcd;
        box-sizing: border-box;
        height: 100%;
        font-size: 2rem;
        font-weight: 400;
        white-space: nowrap;
        border-radius: 1.2rem;
        flex-shrink: 0;
        padding: 1.6rem 5.1rem;
        width: 41rem;
        line-height: 0.92;
        font-family: League Spartan, 'Source Sans Pro';
      }
    }
    .auto-group-6yyb-w91 {
      flex-shrink: 0;
      margin: 0rem 31.3rem 1.4rem 0.1rem;
      width: calc(100% - 31.4rem);
      display: flex;
      align-items: center;

      .email-FfV {
        font-weight: 400;
        line-height: 0.92;
        color: #000000;
        font-family: League Spartan, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 39rem;
        font-size: 2.5rem;
      }
      .password-mtj {
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2.5rem;
        font-weight: 400;
        line-height: 0.92;
        color: #000000;
        font-family: League Spartan, 'Source Sans Pro';
      }
    }
    .auto-group-xtqf-UYF {
      margin-bottom: 8.1rem;
      width: 100%;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .auto-group-uah5-1o5 {
        box-sizing: border-box;
        padding: 1.3rem 31.3rem 1.6rem 2.1rem;
        display: flex;
        align-items: center;
        border: solid 0.1rem #cdcdcd;
        border-radius: 1.2rem;
        flex-shrink: 0;
        margin: 0.3rem 3.8rem 0rem 0rem;

        .mask-group-XWX {
          margin: 0rem 1rem 0.2rem 0rem;
          width: 2rem;
          height: 2rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .email-roh {
          color: #a4a2a2;
          font-family: League Spartan, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-top: 0.3rem;
          font-size: 2rem;
          font-weight: 400;
          line-height: 0.92;
        }
      }
      .auto-group-t7xu-Nn3 {
        box-sizing: border-box;
        padding: 0.8rem 1.8rem 1.1rem 2rem;
        display: flex;
        align-items: center;
        border: solid 0.1rem #cdcdcd;
        border-radius: 1.2rem;
        flex-shrink: 0;
        margin-bottom: 0.3rem;

        .mask-group-W7Z {
          margin: 0rem 0.1rem 0.1rem 0rem;
          width: 2.9rem;
          height: 2.1rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .password-2Lo {
          font-weight: 400;
          line-height: 0.92;
          color: #9a9a9a;
          font-family: League Spartan, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0.3rem 24.7rem 0rem 0rem;
          font-size: 2rem;
        }
        .mask-group-jFD {
          width: 1.7rem;
          height: 3.2rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
    }
    .auto-group-dpvr-q3M {
      margin: 0rem 25.2rem 0rem 24.4rem;
      width: calc(100% - 49.6rem);
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .rectangle-13-KUK {
        border-radius: 0.4rem;
        flex-shrink: 0;
        margin-right: 1.3rem;
        width: 2rem;
        height: 2rem;
        border: solid 0.3rem #0072f9;
        box-sizing: border-box;
      }
      .i-agree-to-the-terms-conditions-bgj {
        white-space: nowrap;
        align-items: baseline;
        flex-shrink: 0;
        font-size: 2.4rem;
        line-height: 0.92;
        font-family: League Spartan, 'Source Sans Pro';
        display: flex;
        font-weight: 400;
        color: #000000;

        .i-agree-to-the-terms-conditions-bgj-sub-0 {
        }
        .i-agree-to-the-terms-conditions-bgj-sub-1 {
          line-height: 0.92;
          color: #000000;
          font-family: League Spartan, 'Source Sans Pro';
          font-size: 2.4rem;
          font-weight: 600;
        }
        .i-agree-to-the-terms-conditions-bgj-sub-2 {
          line-height: 0.92;
          color: #0072f9;
          font-family: League Spartan, 'Source Sans Pro';
          font-size: 2.4rem;
          font-weight: 500;
        }
      }
    }
  }
  .auto-group-eay7-Yto {
    position: absolute;
    align-items: center;
    display: flex;
    flex-direction: column;
    left: 0;
    top: 77.3rem;
    box-sizing: border-box;
    padding: 3.4rem 0rem 11.5rem 0rem;
    width: 144rem;
    height: 25.1rem;

    .line-1-zF1 {
      flex-shrink: 0;
      margin: 0rem 0.1rem 5.05rem 0rem;
      width: calc(100% - 0.1rem);
      height: 0.05rem;
      background-color: #cdcdcd;
    }
    .auto-group-kvkf-6oq {
      font-size: 2.4rem;
      background-color: #0072f9;
      flex-shrink: 0;
      white-space: nowrap;
      align-items: center;
      line-height: 0.92;
      color: #ffffff;
      font-family: League Spartan, 'Source Sans Pro';
      justify-content: center;
      display: flex;
      border-radius: 1.2rem;
      margin: 0rem 51.4rem 0rem 51.6rem;
      width: calc(100% - 103rem);
      height: 5.1rem;
      font-weight: 600;
    }
  }
  .already-have-an-account-sign-in-ktP {
    left: 54.7rem;
    top: 75rem;
    font-size: 2.4rem;
    font-weight: 300;
    font-family: League Spartan, 'Source Sans Pro';
    width: 33.2rem;
    height: 2.3rem;
    position: absolute;
    display: flex;
    align-items: baseline;
    line-height: 0.92;
    color: #000000;
    white-space: nowrap;

    .already-have-an-account-sign-in-ktP-sub-0 {
    }
    .already-have-an-account-sign-in-ktP-sub-1 {
      font-weight: 300;
      line-height: 0.92;
      color: #000000;
      font-family: League Spartan, 'Source Sans Pro';
      font-size: 2.4rem;
    }
    .already-have-an-account-sign-in-ktP-sub-2 {
      font-size: 2.4rem;
      font-weight: 500;
      line-height: 0.92;
      color: #0072f9;
      font-family: League Spartan, 'Source Sans Pro';
    }
  }
  .line-2-uYK {
    width: 144rem;
    height: 0.05rem;
    position: absolute;
    left: 0;
    top: 71.7rem;
    background-color: #cdcdcd;
  }
}
