
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-2-Lhm {
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  width: 100%;
  height: 102.4rem;

  .auto-group-vefh-4dm {
    width: 144rem;
    position: absolute;
    flex-direction: column;
    top: 0;
    align-items: center;
    display: flex;
    background: linear-gradient(335.83deg, #c8e8ff 84.51%, rgba(251, 250, 255, 0) 212.76%);
    box-sizing: border-box;
    padding: 5.9rem 5.6rem 9.1rem 5.6rem;
    height: 30.5rem;
    left: 0;

    .mask-group-9v7 {
      margin: 0rem 127.9rem 2rem 0rem;
      width: 4.9rem;
      height: 5.4rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .welcome-back-USb {
      flex-shrink: 0;
      margin: 0rem 3.8rem 0.8rem 0rem;
      font-size: 6rem;
      font-weight: 400;
      line-height: 0.92;
      color: #000000;
      font-family: League Spartan, 'Source Sans Pro';
      white-space: nowrap;
    }
    .please-enter-your-email-and-password-to-sign-in-B67 {
      color: #9a9a9a;
      font-family: JejuGothic, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 8.4rem;
      font-size: 1.3rem;
      font-weight: 400;
      line-height: 1.2575;
    }
  }
  .auto-group-kklf-1L3 {
    padding: 1.7rem 51.5rem 4.2rem 51.5rem;
    box-sizing: border-box;
    height: 28.4rem;
    position: absolute;
    left: 0;
    top: 43.3rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 144rem;

    .auto-group-z8rm-Gmm {
      box-sizing: border-box;
      padding: 0.5rem 31.3rem 0.7rem 2.5rem;
      margin-bottom: 3.1rem;
      display: flex;
      align-items: center;
      border: solid 0.1rem #cdcdcd;
      border-radius: 1.2rem;
      flex-shrink: 0;
      width: 100%;

      .mask-group-aXZ {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.6rem;
        width: 2rem;
        height: 3.9rem;
        position: relative;
      }
      .email-6Vu {
        line-height: 0.92;
        color: #9a9a9a;
        font-family: League Spartan, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 0.2rem;
        font-size: 2rem;
        font-weight: 400;
      }
    }
    .password-C39 {
      font-family: League Spartan, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 31.3rem 1.4rem 0rem;
      font-size: 2.5rem;
      font-weight: 400;
      line-height: 0.92;
      color: #000000;
    }
    .auto-group-wffv-hVh {
      box-sizing: border-box;
      padding: 0.8rem 1.8rem 1.1rem 2rem;
      width: 100%;
      display: flex;
      align-items: center;
      border-radius: 1.2rem;
      margin-bottom: 2.9rem;
      flex-shrink: 0;
      border: solid 0.1rem #cdcdcd;

      .mask-group-AeB {
        height: 2.1rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0.1rem 0.1rem 0rem;
        width: 2.9rem;
      }
      .password-5WF {
        font-weight: 400;
        line-height: 0.92;
        color: #9a9a9a;
        font-family: League Spartan, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.3rem 24.7rem 0rem 0rem;
        font-size: 2rem;
      }
      .mask-group-mdy {
        width: 1.7rem;
        height: 3.2rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .auto-group-wykp-fUT {
      width: 100%;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .rectangle-13-p6T {
        margin: 0rem 1.3rem 0.6rem 0rem;
        width: 2rem;
        height: 2rem;
        border: solid 0.3rem #0072f9;
        box-sizing: border-box;
        border-radius: 0.4rem;
        flex-shrink: 0;
      }
      .remember-me-hAF {
        margin: 0.3rem 6.3rem 0rem 0rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 0.92;
        color: #000000;
        font-family: League Spartan, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .forgot-password-oj5 {
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 0.92;
        color: #0072f9;
        font-family: League Spartan, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 0.3rem;
      }
    }
  }
  .auto-group-5fpu-ymy {
    width: 41rem;
    position: absolute;
    font-size: 2.4rem;
    font-weight: 600;
    color: #ffffff;
    border-radius: 1.2rem;
    display: flex;
    justify-content: center;
    top: 85rem;
    font-family: League Spartan, 'Source Sans Pro';
    white-space: nowrap;
    background-color: #0072f9;
    height: 5.1rem;
    left: 51.5rem;
    line-height: 0.92;
    align-items: center;
  }
  .email-d5q {
    position: absolute;
    left: 51.6rem;
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 0.92;
    font-family: League Spartan, 'Source Sans Pro';
    white-space: nowrap;
    width: 5.7rem;
    top: 41rem;
    color: #000000;
    height: 2.3rem;
  }
  .dont-have-an-account-sign-up-JSs {
    display: flex;
    position: absolute;
    left: 55.6rem;
    top: 74.9rem;
    font-size: 2.4rem;
    color: #000000;
    font-family: League Spartan, 'Source Sans Pro';
    white-space: nowrap;
    align-items: baseline;
    width: 31.8rem;
    height: 2.3rem;
    font-weight: 300;
    line-height: 0.9199999968;

    .dont-have-an-account-sign-up-JSs-sub-0 {
      color: #000000;
      font-family: League Spartan, 'Source Sans Pro';
      font-size: 2.4rem;
      font-weight: 300;
      line-height: 0.92;
    }
    .dont-have-an-account-sign-up-JSs-sub-1 {
      font-size: 2.4rem;
      font-weight: 500;
      line-height: 0.92;
      color: #0072f9;
      font-family: League Spartan, 'Source Sans Pro';
    }
  }
  .line-1-D5y {
    height: 0.05rem;
    position: absolute;
    left: 0;
    top: 80.4rem;
    background-color: #cdcdcd;
    width: 144rem;
  }
  .line-2-ja7 {
    width: 144rem;
    height: 0.05rem;
    position: absolute;
    left: 0;
    top: 71.7rem;
    background-color: #cdcdcd;
  }
}
