
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 2.3rem;
}.mask-group-sSo {
  height: 2.3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  width: 100%;
}
